body {
  font-size: 22px; }

/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End of Eric Meyer's CSS Reset */
html {
  height: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

body {
  font: 12px/18px Arial, sans-serif;
  height: 100%; }

.wrapper {
  min-width: 320px;
  max-width: 1170px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%; }

.header {
  height: 150px;
  background: #FFE680; }

.content {
  padding: 0 0 100px; }

.footer {
  margin: -100px auto 0;
  min-width: 320px;
  max-width: 1170px;
  height: 50px;
  background: #BFF08E;
  position: relative; }

* {
  box-sizing: border-box; }

.conteiner {
  background-color: aqua; }

.block1, .block2 {
  float: left;
  border: 1px solid black;
  padding: 10px;
  width: 50%; }

.clearfix {
  clear: both; }
